:root {
    font-family: 'Libre Franklin';
    font-weight: normal;
    --text-color: hsl(0, 0%, 0%);
    --bg-color: hsl(0, 0%, 100%);
    --primary: hsl(71, 54%, 17%);
    --secondary: hsl(23, 86%, 19%);
    background-color: var(--bg-color);

}

body {
    margin: 0;
}

a {
    color: var(--text-color);
}

h1 {
    font-weight: unset;
    margin: 0;
}

h2 {
    font-weight: unset;
}

section {
    max-width: 100vw;
    padding: 0rem 1rem;
    margin-bottom: 4rem;
}
