:root {
    font-family: 'Libre Franklin';
    font-weight: normal;
    --text-color: hsl(0, 0%, 0%);
    --bg-color: hsl(0, 0%, 100%);
    background-color: var(--bg-color);
}

body {
    margin: 0;
}

a {
    color: var(--text-color);
}

h1 {
    font-weight: unset;
    margin: 0;
}